---
import Layout from '../../layouts/Layout.astro';

import { getPerson } from '../../api.js';

let title: string;
let body: string;

try {
	({ title, body } = await getPerson(Astro.params.id as string));
} catch (err) {
	return new Response(null, {
		status: 404,
		statusText: 'Not found',
	});
}
---

<Layout title={title}>
	<h1>{title}</h1>

	<Fragment set:html={body} />
</Layout>
