---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.vue';

import { getPeople } from '../../api.js';

const people = await getPeople();
---

<Layout title="SSR people">
	<h1>SSR People</h1>

	<ul class="people">
		{
			people.map((person) => (
				<Card
					client:visible
					title={person.name}
					body={person.body}
					href={new URL(
						`${Astro.url.pathname}/${person.id}`,
						Astro.url
					).toString()}
				/>
			))
		}
	</ul>
</Layout>

<style>
	.people {
		all: unset;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;

		margin: 0 0 1rem;
	}

	code {
		color: darkgreen;

		font-size: inherit;
	}
</style>
