<footer class="footer">
	<div class="container">
		<hr />

		<h1 class="sr-only">Footer</h1>

		<div class="grid">
			<div class="cell cell--1 cell--small-1/2 cell--medium-1/3">
				<h2 class="heading heading--small trailer-half">Amongst our clients</h2>

				<div class="partner">
					<img
						class="media media--height-s partner__item"
						src="/images/logos/cardano-subjacent.svg"
						alt="Cardano"
					/>
					<img
						class="media media--height-s partner__item"
						src="/images/logos/pggm-subjacent.png"
						alt="PGGM"
					/>
					<img
						class="media media--height-s partner__item"
						src="/images/logos/abn-amro-subjacent.svg"
						alt="ABN Amro"
					/>
					<img
						class="media media--height-s partner__item"
						src="/images/logos/ing-subjacent.svg"
						alt="ING"
					/>
					<img
						class="media media--height-s partner__item"
						src="/images/logos/boerse-stuttgart-subjacent.svg"
						alt="Boerse Stuttgart"
					/>
					<img
						class="media media--height-s partner__item"
						src="/images/logos/bx-swiss-subjacent.svg"
						alt="BX Swiss"
					/>
				</div>

				<div>
					<a class="button button--primary" href="/contact">
						Start your project
					</a>
				</div>
			</div>

			<div class="cell cell--1 cell--small-1/2 cell--medium-1/3">
				<address>
					<h2 class="heading heading--small trailer-half">Contact</h2>

					<h3 class="heading heading--small trailer-reset sr-only">Address</h3>

					<a
						class="trailer"
						href="https://www.google.nl/maps/place/VI+Company/@51.9234203,4.4669723,17z/data=!3m1!4b1!4m5!3m4!1s0x47c4348fb3c0de4d:0x3eb9473d3aaf9db6!8m2!3d51.923417!4d4.469161?hl=en"
					>
						Stationsplein 45, unit&nbsp;A4.194<br />
						3013 AK Rotterdam<br />
						The Netherlands
					</a>

					<h3 class="heading heading--small trailer-half">Front desk</h3>

					<ul class="list-unstyled trailer">
						<li>
							<a class="anchor-ellipsis" href="mailto:info@vicompany.nl">
								info@vicompany.nl
							</a>
						</li>

						<li>
							<a href="tel:+31 10 714 44 57"> +31 10 714 44 57</a>
						</li>
					</ul>

					<h3 class="heading heading--small trailer-half">
						First response team
					</h3>

					<ul class="list-unstyled trailer">
						<li>
							<a class="anchor-ellipsis" href="mailto:support@vicompany.nl">
								support@vicompany.nl
							</a>
						</li>

						<li>
							<a href="tel:+31 10 714 44 58"> +31 10 714 44 58</a>
						</li>
					</ul>
				</address>
			</div>

			<div class="cell cell--1 cell--small-1/2 cell--medium-1/3">
				<nav aria-labelledby="jobs-navigation">
					<h2 class="heading heading--small trailer-half" id="jobs-navigation">
						Open positions
					</h2>

					<ul class="step-list step-list--unordered">
						<li class="step-list__item">
							<a
								href="https://www.vicompany.nl/jobs/open-positions/software-engineer-combined"
							>
								Software Engineer (all levels)
							</a>
						</li>
						<li class="step-list__item">
							<a
								href="https://www.vicompany.nl/jobs/open-positions/relationship-manager"
							>
								Relationship Manager
							</a>
						</li>
						<li class="step-list__item">
							<a
								href="https://www.vicompany.nl/jobs/open-positions/service-delivery-manager"
							>
								Service Delivery Manager
							</a>
						</li>
						<li class="step-list__item">
							<a
								href="https://www.vicompany.nl/jobs/open-positions/medior-frontend-developer"
							>
								Frontend Developer
							</a>
						</li>
					</ul>
				</nav>

				<div class="partner">
					<a href="http://www.dekra-seal.com/">
						<img
							class="media media--height-xl partner__item"
							src="/images/certificates/dekra-9001.png"
							alt="Dekra 9001"
						/>
					</a>
					<a href="http://www.dekra-seal.com/">
						<img
							class="media media--height-xl partner__item"
							src="/images/certificates/dekra-27001.png"
							alt="Dekra 27001"
						/>
					</a>
				</div>
			</div>

			<div class="cell cell--1 cell--small-1/2 cell--medium-1/3">
				<h2 class="heading heading--small trailer-half">Social media</h2>

				<ul class="list-unstyled trailer">
					<li>
						<a href="https://linkedin.com/company/vicompany"> LinkedIn</a>
					</li>
					<li>
						<a href="https://www.instagram.com/vicompany"> Instagram</a>
					</li>
					<li>
						<a href="https://www.facebook.com/vicompany"> Facebook</a>
					</li>
				</ul>
			</div>

			<div class="cell cell--1 cell--small-1/2 cell--medium-1/3">
				<h2 class="heading heading--small trailer-half">Formalities</h2>

				<ul class="list-unstyled trailer">
					<li>
						<a href="https://www.vicompany.nl/legal/rules-and-agreements">
							Rules and agreements
						</a>
					</li>
					<li>
						<a href="https://www.vicompany.nl/legal/privacy-statement">
							Privacy statement
						</a>
					</li>
					<li>
						<a href="https://www.vicompany.nl/legal/responsible-disclosure">
							Responsible disclosure
						</a>
					</li>
					<li>
						<a href="https://www.vicompany.nl/legal/complaints"> Feedback</a>
					</li>
					<li>
						<a href="https://www.vicompany.nl/legal/cookies"> Cookies</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<div class="top">
	<a
		href="#top"
		class="button button--icon button--inherit trailer-reset"
		data-module="scroll"
		data-target="#top"
	>
		<svg viewBox="0 0 24 24" class="icon icon--small">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-up"
			></use>
		</svg>
		<span class="sr-only"> Back to top</span>
	</a>
</div>
