<svg
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 213.33335 24"
	class="logo__image"
	aria-label="VI Company logo"
>
	<title>VI Company</title>

	<path
		class="logo__letter logo__letter--brand-1"
		d="M0,2.944H5.58878L9.727,14.4,13.86528,2.944h5.46079L11.98813,21.20533H7.33793Z"
	></path>
	<path
		class="logo__letter logo__letter--brand-1"
		d="M23.7203,2.944h5.07683V21.07733H23.7203Z"></path>
	<path
		class="logo__letter logo__letter--brand-1"
		d="M53.0507,12.01067h0a9.32,9.32,0,0,1,9.535-9.472A8.78141,8.78141,0,0,1,70.24365,6.336l-3.797,2.92267a4.94562,4.94562,0,0,0-3.92494-2.13333c-2.53841,0-4.33023,2.13333-4.33023,4.8v.064c0,2.73067,1.79182,4.864,4.33023,4.864A4.901,4.901,0,0,0,66.596,14.656l3.797,2.66667a9.52865,9.52865,0,0,1-17.34227-5.312Z"
	></path>
	<path class="logo__letter" d="M45.52078,0H49.531L38.05486,24H34.04459Z"
	></path>
	<path
		class="logo__letter"
		d="M85.26082,21.46133a9.04917,9.04917,0,0,1-7.9992-4.07467l3.797-2.64533a4.84945,4.84945,0,0,0,4.07426,2.19733c2.53841,0,4.33023-2.13333,4.33023-4.864v-.064c0-2.66667-1.79182-4.8-4.33023-4.8A4.665,4.665,0,0,0,81.20789,9.344L77.34694,6.336a8.95875,8.95875,0,0,1,7.6579-3.79733,9.32,9.32,0,0,1,9.535,9.472v.064A9.17741,9.17741,0,0,1,85.26082,21.46133Z"
	></path>
	<path
		class="logo__letter"
		d="M101.04591,2.944h5.3328l4.33023,6.99733L115.03917,2.944h5.3328V21.07733h-5.07682V10.60267l-4.6502,7.12533h-.128l-4.60753-7.06134V21.07733h-4.92751V2.944Z"
	></path>
	<path
		class="logo__letter"
		d="M127.64592,2.944h7.74322c4.60753,0,7.52991,2.32533,7.52991,6.4h0c0,4.26667-3.26367,6.528-7.80721,6.528h-2.47441v5.20533h-4.99151Zm7.40192,8.98134c1.79183,0,2.85839-.93867,2.85839-2.32533V9.536c0-1.536-1.06656-2.41067-2.85839-2.41067h-2.41042v4.8Z"
	></path>
	<path
		class="logo__letter"
		d="M153.30735,2.79467h4.86351L165.91409,21.056H160.5173l-1.34386-3.264H152.1768l-1.25855,3.264h-5.26881Zm4.41556,11.072-2.00514-5.14133-2.06913,5.14133Z"
	></path>
	<path
		class="logo__letter"
		d="M171.52419,2.944h4.67154l7.46592,9.6v-9.6h4.99151V21.07733h-4.39422L176.51571,11.136v9.94134H171.5242V2.944Z"
	></path>
	<path
		class="logo__letter"
		d="M201.38787,14.272,194.51922,2.944h5.7381l3.733,6.592,3.733-6.592h5.6101L206.4647,14.208v6.86933h-5.07682V14.272Z"
	></path>
</svg>
